@import url('https://fonts.cdnfonts.com/css/thunder-lord');
@import url('https://fonts.cdnfonts.com/css/sketch-script-cool');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cherry Bomb One', cursive;
}

body{
    color: white;
    background-color: rgb(4, 158, 155);
}

.container{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.scoreboard{
    text-align: center;
   
    background-color: rgb(5, 89, 85);
    border-radius: 20px;
    padding: 40px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    border-color:rgb(8, 148, 141) ;
    
}

.scoreboard span{
   font-size: 3rem;
   font-family: 'Sketch Script Cool', sans-serif;
    
}

.scoreboard:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}


.content{
    margin-top: 50px;
}


.game{
    display:flex;
    justify-content: center;
    width: 100%;
  
}

.game div{
    width: 155px;
   
}

.game button{
    width: 150px;
    height: 150px;
    background-color: rgb(4, 158, 155);
    color: rgb(5, 89, 85); ;
    font-size: 50px;
    border: 3px solid rgb(5, 89, 85);
    cursor: pointer;
    margin:3px;
    font-family: 'Sketch Script Cool', sans-serif;
    font-weight: 800;
                                                
}

.top-none{
    border-top: none !important;
    
}

.bottom-none{
    border-bottom: none !important;
   
}

.left-none{
    border-left: none !important;
    
}

.right-none{
    border-right: none !important;
    
}

.confete {
    width: 5px;
    height: 15px;
    position: absolute;
    animation: fall 2s linear infinite;
}

@keyframes fall {
    to {
      transform: translateY(100vh);
    }
  }
